<div class="container d-flex flex-column">
  <h1 class="row align-self-center">Korean Fish の 問政</h1>
  <br>
  <div class="container d-flex flex-column align-items-center">
    <div class="room border">
      <div *ngFor="let message of messages">
        <div *ngIf="message.sender == 'Kfish'" class="text-left alert alert-danger">
          🇰🇷🐟: {{message.content}}
        </div>
        <div *ngIf="message.sender != 'Kfish'" class=" border text-right alert alert-light">
          {{message.sender}}: {{message.content}}
        </div>
      </div>
    </div>
    <div class="input-group ask-group mb-3">
      <input type="text" placeholder="問政發大財!" (keydown.enter)="addMessage()" [(ngModel)]="wantAsk" class="form-control">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="addMessage()" type="submit">問政!</button>
      </div>
    </div>
  </div>

</div>